body {
	margin: 0;
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
}

.topnav {
	overflow: hidden;
	background-color: #0760f0;
	height: 70px;
	border: 2px solid black;
}

.topnav a {
	float: left;
	color: #cf468d;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 35px;
	font-weight: bold;
}

.topnav-right {
	float: right;
}

.button {
	background-color: #b3093c;
	border: none;
	color: #000000;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 180px 8px;
	transition-duration: 0.2s;
	cursor: pointer;
}

.screen {
	background-image: url('bgPic.jpg');
	background-size: cover;
	width: 100%;
	height: 600px;
}

.footer {
	bottom: 1%;
	left: 0%;
	padding-left:10px;
	font-weight:normal;
	background-size: cover;
}

.button1 {
	background-color: transparent;
	color: #000000;
	border: 3px solid #4CAF50;
	border-radius: 5px;
}

.button1:hover {
	background-color: #4CAF50;
	color: black;
}

.button2 {
	background-color: transparent;
	color: #000000;
	border-radius: 5px;
	border: 3px solid rgba(31, 58, 147, 1);
}

.button2:hover {
	background-color: rgba(31, 58, 147, 1);
	color: black;
}

.button3 {
	background-color: transparent;
	color: black;
	border-radius: 5px;
	border: 3px solid #f44336;
}

.button3:hover {
	background-color: #f44336;
	color: black;
}